
body { background-color: #302E2E;
    text-align: center;
    color: #ffffff;
    font-size: 11pt;

}

h1 { 
    font-family: 'Orbitron', sans-serif;
}

nav {

    font-family:'Orbitron', sans-serif;

}
ul {
    overflow: auto;
    list-style-type: none;
    white-space: nowrap;
    display: block;

}
p {
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

a {
    text-decoration: none;
    color: ivory;
}



