
body { background-color: #302E2E;
    text-align: center;
    color: #ffffff;
    font-size: 11pt;

}

h1 { 
    font-family: 'Orbitron', sans-serif;
}

nav {

    font-family:'Orbitron', sans-serif;

}

a {
    text-decoration: none;
    color: ivory;
}



